// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
//jQuery UI
@import "./css/jquery-ui.css";
// Hover effects
@import "./css/hover.css";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome";
@import "navbar";
@import "skills";
@import "social-icons";
@import "profile-picture";
@import "hero-background";
@import "back-to-top-button";
@import "headers-section";
@import "jquery-ui-accordion-additional";
@import "modal-form";


html,
body {
  height: 100%;
}

body {
  padding-top: 50px;
}


.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}


/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media(max-width: 991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width: 767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}


/****************************************************************************************************************
      Main Page Edited by Me :)
 ***************************************************************************************************************/

/*-----------------------
 GENERAL ELEMENTS
 -----------------------*/

#my-body {
  padding-top: 0px;
}

/*-----------------------
    Single Project Page
 -----------------------*/

.my-row-single-project {
  padding-top: 15px;
}

.single-project-wrap {
  padding-top: 5%;
  padding-bottom: 5%;
}

/*-----------------------
    Media Query 951
 -----------------------*/

@media screen and (max-width: 951px) {
  .hero-image {
    left: 82%;
  }
  #profile-pic {
    max-height: 251px;
    overflow: hidden;
  }
}

@media screen and (max-width: 766px) {
  #text-title-hero {

  }

  #profile-pic {
    padding-right: 0px;
  }

  #text-subtitle-hero {
  }

  .hero-image {
    padding-right: 0px;
  }

}

/*-----------------------
    Media Query 609
 -----------------------*/

@media screen and (max-width: 609px) {

  .hero-container {
    height: 378px;
  }

  #text-title-hero {
  }

  #text-subtitle-hero {
  }

  #profile-pic {
    max-height: 215px;
  }

  .hero-image {
    left: 79%;
    padding-right: 0px;
  }
  .my-row {
    padding-top: 0px;
  }
  .my-row-single-project {
    padding-top: 95px;
  }

  #professionalIndex, #personalIndex, #skillsIndex {
    font-size: 30px !important;
  }

}





















